@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topnavdiv{
    background:yellow;
}
.topnavcontainer{
    width: 100%;
    max-width: 1250px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}




.topnavcontainer .topnav-socialdiv  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(139 92 92 / 49%);
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s case ease-in;
    color: #ffffff;
}

.topnavcontainer .topnav-socialdiv a i {
    /* color: #ffffff; */
    font-size: 15px;
    margin: 20px;
}



.topnavcontainer .topnav-socialdiv a:hover {
    background-color: #ffffff;
    color: #ff4d29;
}

/* nav */
nav{
    width: 100%;
    height: 70px;
    background: #ff4d29;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);

  
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* padding:0 20px deya hoyese navbar er vitorer jayga komanor jonne */
}
nav .navbar .b-logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0;
    letter-spacing: 2px;
    font-weight: 900;
}
nav .navbar .b-logo span{
    color: yellow;
}
nav .navbar .navlinks{
    height: 100%;
    line-height: 70px;   
}
nav .navbar .navlinks .links{
    display: flex;
    
}
nav .navbar .navlinks .links li{
   
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
   text-transform: uppercase;
   z-index: 2;
}
nav .navbar .navlinks .links li a{
    height: 100%;
    color: black;
    text-decoration: none;
    white-space: nowrap;
   
}
.navbar .navlinks .links li .arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    color: black;
    line-height: 70px;
    transition: all 0.3s ease;
 }

 .navbar .navlinks .links .more .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    display: none;
 }
.navbar .navlinks .links .more:hover .more-sub-menu{
    display: block;
   
}
.navbar .navlinks .links li:hover .html-sub-menu,
.navbar .navlinks .links li:hover .css-sub-menu{
    display: block;
    z-index: 2000;
}
.navbar .navlinks .links li:hover .html-arrow,
.navbar .navlinks .links li:hover .css-arrow{
    transform: rotate(180deg);
}
.navbar .navlinks .links  .more:hover .more-arrow{
    transform: rotate(90deg);
}


 .navbar .navlinks .links .sub-menu li .more-arrow{
    line-height: 40px;
}

.navbar .navlinks .links .sub-menu{
    

   position: absolute;
   top: 70px;
   left: 0;
   background-color: yellow;
   line-height: 40px;
   border-radius: 0 0 4px 4px;
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   display: none;
   z-index: 2000;
   
    
}
.navbar .navlinks .links .sub-menu li{
   
    padding: 0 22px;
    border-bottom: 1px solid rgba(0,0,0,0.2)
  
}
.navbar .login-box{
    position: relative;
    height: 40px;
    width: 40px;
}
.navbar .login-box i{
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    line-height: 2;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.navbar .login-box .input-box{
    position: absolute;
    top: 67px;
    height: 69px;
    width: 300px;
    background: yellow;
    right: 2px;
    border-radius: 6px;
    transition: all .5s ease;
    pointer-events: none;
    opacity: 0;
    z-index: 2000;
}

.navbar .login-box .input-box input{
    position: absolute;
    height: 33px;
    width: 275px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 20px;
    z-index: 2000;
}
.navbar .login-box .input-box::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: yellow;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
    z-index: 2000;
}
.navbar.showInput .login-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
}
/* dsiplay none */
.navbar .fa-bars,
.navbar .navlinks .s-title-box .s-title-logo,
.navbar .navlinks .s-title-box i{
    display: none;
}
/* display none ends */
/* nav ends */

/* form div */
.modal{
    display: none;  /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

}
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}
.modal-content .imgcontainer{
    text-align: center;
    margin: 24px 0 -20px 0;
    position: relative;
}
.modal-content .imgcontainer .close{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.modal-content .imgcontainer .close:hover{
    color: red;
    cursor: pointer;
}
.modal-content .imgcontainer .avatar{
    width: 15%;
    border-radius: 50%;
}
.formcontainer{
    padding: 16px;
}
.formcontainer label{
   font-size: 20px;
}
.formcontainer input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}
.formcontainer .login{
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    background-color: #04AA6D;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;

}
.formcontainer .login:hover{
    opacity: 0.8;
}
.formcontainer input[type=checkbox]{
    margin: 3px 9px 3px 4px;
}

.formcontainer .cancelbtn{
    width: auto;
    padding: 10px 14px;
    background-color: #f44336;
    font-size: 20px;
    border: none;
}
.formcontainer .cancelbtn:hover{
    opacity: 0.8;
}

.formcontainer .psw{
    float: right;
    font-size: 20px;
}


/* Add Zoom Animation */
.animate {
   
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

/* form div */

@media screen and (max-width: 992px) {
    .topnavdiv .topnav-socialdiv{
        display: none;
    }
    .topnavdiv{
        padding: 20px 10px;
    }
  }

  @media screen and (max-width: 800px) {
    nav .navbar .fa-bars{display: block;}
    nav .navbar .login-box .fa-search{display: block;}
    nav .navbar .navlinks .s-title-box .s-title-logo,
    nav .navbar .navlinks .s-title-box  i {
         display: block;
    }

    nav .navbar .navlinks .s-title-box .s-title-logo,
    nav .navbar .navlinks .s-title-box  i {
         font-size: 25px;
    }
    nav .navbar .navlinks .s-title-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
    nav .navbar .navlinks {
       display: block;
       position: fixed;
       background: yellow;
       /* left: 0; */
       left: -100%;
       top: 60px;
       max-width: 270px;
       width: 100%;
       padding: 20px;
       transition: all .5s ease;
       z-index: 100;
       line-height: 40px;
      
    }

    nav .navbar .navlinks .links{
        display: block;
        margin-top: 20px;
    }

    nav .navbar .navlinks .links li{
        display: block;
        border-bottom: none;
    }

   nav .navbar .navlinks .links li .arrow{
        line-height: 40px;
    }

    nav .navbar .navlinks .links .sub-menu{
        /* display: block; */
        display: none;
        top: 0;
        left: 0;
        position: relative;
        box-shadow: none;
    }

    nav .navbar .navlinks .links .sub-menu li{
        border-bottom: none;
    }

    .navbar .navlinks .links li:hover .html-sub-menu,
    .navbar .navlinks .links li:hover .css-sub-menu{
    display: none;
}
    .navbar .navlinks .links .more:hover .more-sub-menu{
        /* display: block; */
        display: none;
    }
    .navbar .navlinks .links .more .more-sub-menu{
       /* display: block; */
       display: none;
       position: relative;
       top: 0;
       left: 0;
       border-radius: 0 4px 4px 4px;

    }

    .navbar .navlinks .links li:hover .html-arrow,
    .navbar .navlinks .links li:hover .css-arrow{
    transform: rotate(0deg);
}
 
.navbar .navlinks .links  .more:hover .more-arrow{
    transform: rotate(0deg);
}
.navbar .navlinks.html .links .sub-menu.html-sub-menu{
    display: block;
}
.navbar .navlinks.css .links .css-sub-menu.sub-menu{
    display: block;
}
.navbar .navlinks.more .links .more .more-sub-menu {
    display: block;
}

.navbar .navlinks.html .links li .html-arrow,
.navbar .navlinks.css .links li .css-arrow
{
   transform: rotate(180deg);
}

.navbar .navlinks.more .links .sub-menu .more-arrow {
    transform: rotate(90deg);
}

/* form css start */
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
   margin-top: 0px;

}
/* form csss ends */

/* ==== home section ===== */
.home{
    height: auto;
    width: 100%;
}
.home .home-container{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home .home-container .home-left {
    width: 100%;
    position: relative;
    padding: 28px;
    line-height: 30px;
    margin: 0px -19px 45px 0px;
}
.home .home-container .home-right{
   width: 100%;
   height: 100%;
   padding-bottom: 30px;
   
   
}
.home .home-container .home-right .home-right-img img{
    width: 100%;
    height: 100%;

}


/* ====== home section ends === */


  }


  @media (max-width:370px){
    nav .navbar .navlinks{
        max-width: 100%;
    }
  }

/* ================ HOME SECTION CSS STARTS ===================== */
.home{
    background: blue;
    position: relative;
    overflow: hidden;
    height: 100vh;
    /* margin-bottom: 5rem; */
   
}
.home .home-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 40px; */
    height: 100%;
    width: 100%;
    max-width: 1250px;
}
.home .home-right{
    width: 50%;
    padding: 40px;
}
.home .home-left{
    width: 50%;
    position: relative;
    padding: 2px 0px 0px 76px;
    line-height: 30px;
    margin: 3px 3px 112px 3px;
}
.home .home-left h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.home .home-left p{
    font-size: 20px;
    margin-top: 10px;
}
.home-left .abtn{
    background: #f44336;
    padding: 12px 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 9px;
    position: absolute;
    bottom: -69px;

}
/* ================ HOME SECTION CSS ENDS ===================== */
section{
    padding-top: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 0 40px 0;
}


#aaccordion{
    background: #EAF1FB;
}
#aaccordion .aaccordion-title-div{
     padding: 60px;
     position: relative;
     text-align: center;
}
#aaccordion .aaccordion-title-div span{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    font-size: 90px;
    font-weight: 900;
    color:rgb(16 11 0 / 10%);
    z-index: 1;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#aaccordion .aaccordion-title-div h2{
    font-size: 60px;
    position: relative;
    z-index: 2;
    font-weight: bold;
}
#aaccordion .aaccordion-title-div h2::before{
    content: "";
    position: absolute;
    background-color: red;
    width: 140px;
    height: 1px;
    bottom: 1px;
    left: calc(50% - 70px);
    /* display: block; */

}
#aaccordion .aaccordion-title-div h2::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 70px;
    height: 4px;
    bottom: 0px;
    left: calc(50% - 35px);
    /* display: block; */

}
.accordion h1{ 
    /* text-align: center;
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 106px;
    color: rgba(138,132,119,.1);
    line-height: 1; */
}
.accordion h3{
    /* position: absolute;
    color: #000;
    font-size: 32px;
    position: absolute;
    right: 30px;
    
    z-index: 1; */
}

.accordion {
    width: 100%;
    background: red;
    padding: 10px 15px;
    color: #fff;
    text-align: justify;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 25px;
   
    margin-top: 10px;
    border-radius: 50px;
    


}
.accordion .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url(toggle-bg.png)no-repeat 8px 7px #6db5ff;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}
.active, .accordion:hover {
    background-color: red;
    opacity: 0.8; 
}
.active .icon{
    background: url(toggle-bg.png)no-repeat 8px -25px #fff;
}
.panel{
    background-color: #ffffff;
    color: black;
    overflow: hidden;
    padding: 0px 15px;
    /* display: none; */
    border-left: 1px solid rebeccapurple;
    max-height: 0;
    transition: all .5s ease-in;
}

.panel p{
    font-size: 30px;
    color: black;
}
/* ==================ACCORDION SECTION STARTS================= */

/*!======================= Second accordion section starts =====================*/

#second-accordion{
    background: #04AA6D;
    padding: 50px;
}
.second-acc-continer{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
   
}
.second-acc-con-df{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-acc-con-df .second-acc-leftdiv{
   height: 400px;
   width: 600px;

}
.second-acc-leftdiv img{
    width: 100%;
    height: 100%;
     /* object-fit: contain; */
}
.second-acc-con-df .second-acc-rightdiv{
    width: 90%;
    padding: 40px;
} 
.second-acc-con-df .second-acc-rightdiv .sec-accordion{
    width: 100%;
    border-radius: 50px;
    /* text-align: left; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;

}
.second-acc-con-df .second-acc-rightdiv .sec-accordion span{
    font-size: 20px;
}
.second-acc-con-df .second-acc-rightdiv .sec-accordion.showAnswer .s-a-arrow{
    transform: rotate(-180deg);
}
.second-acc-con-df .second-acc-rightdiv .second_acc_panel{
    margin: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: all .5s ease-in;

}
@media (max-width:994px) {
    .second-accordion{
        padding: 40px 20px;
    }
    .second-acc-con-df .second-acc-leftdiv{
        height: 300px;
        width: 400px;
     
     }
     .second-acc-con-df .second-acc-rightdiv{
        width: 80%;
        padding: 40px;
    }
}
@media (max-width:820px) {
     .second-acc-con-df{
        flex-direction: column;
     }
     .second-acc-con-df .second-acc-rightdiv{
        width: 100%;
        padding: 0px;
    }
   
}
/*!======================= Second accordion section ends ======================= */

/*! =========================== sideshow gallary section starts ============================= */
 #sideshow{
    background-color: #f44336;
    padding: 20px 0;
}
#sideshow .sideshow-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.side-show-title-div{
    text-align: center;
    text-transform: uppercase;

}
.side-show-title-div span{
    position: absolute;
    z-index: 1;
    font-size: 90px;
    font-weight: 700;
    color: #db2a2a;
    left: 0;
    right: 0;
}
.side-show-title-div h1{
    position: relative;
    z-index: 2;
    font-size: 70px;
    font-weight: 700;
    top: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.side-show-title-div h1::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 1px;
    background-color: #fefefe;
    bottom: 1px;
    left: calc(50% - 125px);
}
.side-show-title-div h1::after{
    content: "";
    position: absolute;
    width: 180px;
    height: 4px;
    background-color: yellow;
    bottom: 0px;
    left: calc(50% - 90px);
}
.side-show-title-div p{
    margin: 60px 0 0 0;
    font-size: 20px;
}

.sideshow .sideshow-container .slideshow-con-div{
    position: relative;
    margin: 30px 0px;
}
.sideshow .sideshow-container .slideshow-con-div .mySlides{
     display: none;
} 
.sideshow .sideshow-container .slideshow-con-div .numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.sideshow .sideshow-container .slideshow-con-div img{
    vertical-align: middle;
}

.sideshow .sideshow-container .slideshow-con-div .prev,
.sideshow .sideshow-container .slideshow-con-div .next{
    cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.sideshow .sideshow-container .slideshow-con-div .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .sideshow .sideshow-container .slideshow-con-div .prev:hover,
  .sideshow .sideshow-container .slideshow-con-div .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }

.sideshow .sideshow-container .slideshow-con-div .caption-container{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.sideshow .sideshow-container .slideshow-con-div .caption-container #caption{

}
.sideshow .sideshow-container .slideshow-con-div .row::after{
    content: "";
    display: table;
    clear: both;
}
.sideshow .sideshow-container .slideshow-con-div .column{
    float: left;
    width: 16.66%;
}
.sideshow .sideshow-container .slideshow-con-div .cursor{
    cursor: pointer;
}
/*! =========================== sideshow gallary section ends ============================= */



/*! =========================== personal life style TABS section starts ============================= */
#tab_section{
    padding: 30px;
    background-color: #6db5ff;
    
}
#tab_section .tab_container{
    max-width: 1120px;
    margin: 0 auto;
}
#tab_section .tab_container .tab_title_div{
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;

}
#tab_section .tab_container .tab_title_div span{
    position: absolute;
    color: #82868b;
    font-size: 70px;
    font-weight: 800;
    z-index: 1;
    left: 0;
    right: 0;
    letter-spacing: 4px;
}
#tab_section .tab_container .tab_title_div h1{
    position: relative;
    z-index: 2;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 70px;
    top: 26px;
}
#tab_section .tab_container .tab_title_div h1::before{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: red;
    bottom: 1px;
    left: calc(50% - 70px);
}
#tab_section .tab_container .tab_title_div h1::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: black;
    bottom: 0;
    left: calc(50% - 40px);
}
#tab_section .tab_container .tab_title_div p{
    margin: 48px 0px;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
}
#tab_section .tab_container .tab_ele_box{
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
}
#tab_section .tab_container .tab_ele_box .tab_links{
    width: 30%;
    height: 100%;
    border: 1px solid #ccc;
    
}

#tab_section .tab_container .tab_ele_box .tab_links .tablinks{
    width: 100%;
    padding: 16px 22px;
    text-align: left;
    font-size: 22px;
    transition:.5s;
    border: none;
}
#tab_section .tab_container .tab_ele_box .tab_links .tablinks:hover{
    background-color: #222;
    color: #f2f2f2;
}
#tab_section .tab_container .tab_ele_box .tab_links .tablinks.active{
    background-color: #222;
    color: #f2f2f2;
}

#tab_section .tab_container .tab_ele_box .tab_tabcontent{
    width: 70%;
    height: 100%;
}
#tab_section .tab_container .tab_ele_box .tab_tabcontent .tabcontent{
    width: 100%;
    padding: 16px 22px;
    
}
#tab_section .tab_container .tab_ele_box .tab_tabcontent .tabcontent h3{
   font-size: 30px;
}
#tab_section .tab_container .tab_ele_box .tab_tabcontent .tabcontent p{
   font-size: 20px;
}
/*! =========================== personal life style TABS section ends  ============================= */

/*!====== v_s_tabs starts ========= */
#v_t_s{
    padding: 30px;
    background-color: #fff;
}
#v_t_s .v_t_s-container{
    max-width: 1120px;
    margin: 0 auto;
}
#v_t_s .v_t_s-container .v_t_s_title-div{
    text-align: center;
    text-transform: uppercase;
    width: 30%;
    height: 30%;
    position: absolute;
    color: red;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#v_t_s .v_t_s-container .v_t_s_title-div img{
    position: absolute;
    /* color: #82868b; */
    /* font-size: 70px; */
    /* font-weight: 800; */
    left: 0;
    right: 0;
    /* letter-spacing: 4px; */
    height: 100%;
    width: 100%;
   z-index: 1;
   /* background-color: black; */

}
#v_t_s .v_t_s-container .v_t_s_title-div h1{
    position: relative;
    z-index: 3;
    font-weight: 700;
  
    font-size: 40px;
    top: 26px;
}

#v_t_s .v_t_s-container .v_t_s_ele_div{
    max-width: 900px;
    margin: 0 auto;
    /* background-color: #f1a19b; */
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_left{
    width: 35%;
    height: 80%;
    /* position: absolute; */
    /* bottom: 0; */

}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_left img{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* transform: translateX(-50%); */
}

#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right{
    width: 50%;
    height: 80%;
   
    /* bottom: 0; */

}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .h1h{
    text-align: center;
    border: 4px solid yellow;
    width: 40%;
    margin: 0 auto;
    border-radius: 0 25px;
    font-style: italic;

}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .ph1{
    margin: 15px 0;
    font-size: 30px;
    font-style: italic;
}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .ttablinks{
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    background: #fff;
    font-size: 24px;
    font-weight: bold;

}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .ttablinks:hover{
    border-bottom: 2px solid yellow;
}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .ttablinks.active{
    border-bottom: 2px solid yellow;
}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .content-ele-div{
    padding: 13px 17px;
}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .content-ele-div .ttabcontent{display: none;}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .content-ele-div .ttabcontent h1{
   font-style: italic;
   font-size: 30;
}
#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .content-ele-div .ttabcontent img{
   height: 100%;
   width: 100%;
}

#v_t_s .v_t_s-container .v_t_s_ele_div .v_t_s_right .content-ele-div .ttabcontent li{
    font-size: 20px;
}
/*!====== v_s_tabs starts ========= */







